/*normal*/
@font-face {/*Light*/
  src: url('SourceCodePro-Light.ttf') format('truetype');
  font-family: 'Source';
  font-weight: 300;
}
@font-face {/*Medium*/
  src: url('SourceCodePro-Medium.ttf') format('truetype');
  font-family: 'Source';
  font-weight: 500;
}
@font-face {/*SemiBold*/
  src: url('SourceCodePro-SemiBold.ttf') format('truetype');
  font-family: 'Source';
  font-weight: 700;
}

/*SemiBold 'Italic'*/
@font-face {
  src: url('SourceCodePro-SemiBoldItalic.ttf') format('truetype');
  font-family: 'Source it';
  font-weight: 700;
}
