form-el{
  position: fixed;
  width: 50vw;
  min-width: 150px;
  top: calc(50vh - 25px);
  left: 25vw;
  border-radius: 15px;
  border: 0.5px solid #000;
}

input{
  border: none!important;
  width: calc(50vw - 50px); height: 50px;
  font-size: 25px; padding-left: 10px;
  outline: none;
  border-radius: 15px;
}
button{
  display: inline-block;
  border: none!important;
  background-image: url('./search.png');
  background-position: center; background-size: 75%;
  background-repeat: no-repeat;
  border-radius: 0 15px 15px 0px;
  width: 50px; height: 50px;
  position: relative;
  right: 0;
}
